$colors: (
  black: $black,
  white: $white,
  textColor: $textColor,
  lightGrass: $lightGrass,
  grass: $grass,
  lime: $lime,
  pool: $pool,
  lavender: $lavender,
  yellow: $yellow,
  lightYellow: $lightYellow,
  berry: $berry,
  strawberry: $strawberry,
  pink: $pink,
);

@each $key, $val in $colors {
  .bg-#{$key} {
    background-color: $val !important;
  }
  .c-#{$key} {
    color: $val !important;
  }
}
