.about-us .hero img {
  transition: max-width 250ms ease-in-out;
  max-width: 300px;
  @include media_min_break(md) {
    max-width: 450px;
  }
}
.about-intro-text {
  margin-top: -40px;
}
.selling-points {
  margin-top: -50px;
  button {
    padding: 22px 26px;
    border-radius: 50px;
  }
}
.no-wrap {
  white-space: nowrap;
}
.happy-thoughts {
  margin-bottom: 160px;
}

.qoute-card {
  height: 420px;
  width: 530px;
  border: 4px solid $black;
  box-shadow: 13px 9px 0px 0px rgba(0, 0, 0, 1);
  padding: 0px 55px;
  img {
    position: absolute;
    bottom: 10px;
    right: -44px;
  }
}
