.carousel {
  max-width: 2000px;
}
.carousel-prev-btn,
.carousel-next-btn {
  background: none;
  border: 0;
  img {
    @include media_max_break(md) {
      height: 20px;
    }
  }
}

.carousel__dot-group {
  display: flex;
}

.carousel__dot {
  padding: 7px;
  border-radius: 28px;
  border: 0;
  margin-left: 18px;
  margin-right: 18px;
  opacity: 0.8;
  @include media_max_break(md) {
    padding: 4px;
    margin-left: 7px;
    margin-right: 7px;
  }
}
.carousel__dot--selected {
  background: $white;
  opacity: 1;
}
.carousel__inner-slide {
  display: flex;
  justify-content: center;
}
.carousel__slider {
  height: 430px;
  @include media_max_break(md) {
    height: 295px;
  }
}
.carousel-buttons {
  @include media_max_break(md) {
    padding-left: 0;
    padding-right: 0;
  }
}
