.carousel {
  max-width: 2000px;
  margin: 0 auto;
}
.carousel-prev-btn,
.carousel-next-btn {
  background: none;
  border: 0;
  img {
    @include media_max_break(md) {
      height: 20px;
    }
  }
}

.carousel__dot-group {
  display: flex;
}

.carousel__dot {
  padding: 7px;
  border-radius: 28px;
  border: 0;
  margin-left: 18px;
  margin-right: 18px;
  opacity: 0.8;
  @include media_max_break(md) {
    padding: 4px;
    margin-left: 7px;
    margin-right: 7px;
  }
}
.carousel__dot--selected {
  background: $white;
  opacity: 1;
}
.carousel__inner-slide {
  display: flex;
  @media (max-width: 600px) {
    justify-content: center;
  }
}

.carousel__slide {
  padding: 0 0.5% !important;
  @media (min-width: 600px) {
    padding: 0 0.95% !important;
  }
}

.carousel-buttons {
  @include media_max_break(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 600px) {
  .carousel-dots button:nth-last-child(-n + 1) {
    display: none;
  }
}
@media (min-width: 1400px) {
  .carousel-dots button:nth-last-child(-n + 2) {
    display: none;
  }
}
