.cart-overlay {
  position: relative;
  &:before {
    background-color: rgba(198, 188, 208, 0.7);
    content: '';
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
}

.cart-icon-wrapper {
  position: relative;
  max-height: 64px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.product-quantity {
  min-width: 30px;
  text-align: center;
}

.cart-quantity {
  bottom: 5px;
  left: 0;
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 40px;
  fill: $textColor;
  transition: transform 200ms;
}

.cart-quantity-transform {
  transform: translateX(-150%);
}

.cart-icon {
  transition: transform 200ms;
  transform-origin: bottom left;
}

.cart-icon-transform {
  transform: rotate(-90deg) translateY(40px);
}

.cart-menu {
  height: 100%;
  border: 3px $white solid;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  @media (min-width: 500px) {
    height: unset;
    overflow: unset;
    padding: 50px 40px;
    position: absolute;
    top: 120px;
    width: 440px;
    margin-bottom: 30px;
    .close-icon {
      margin-left: auto;
    }
    &:after,
    &:before {
      background-image: url('../images/wave-reciept.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      height: 24px;
      content: '';
      left: -4px;
      position: absolute;
      width: calc(100% + 7px);
      max-width: 546px;
    }
  }

  &:before {
    top: -23px;
    transform: rotate(180deg);
  }
  &:after {
    left: -3px;
    bottom: -23px;
  }
  &.cart-menu-empty {
    background-image: url('../images/flower-no-items.svg');
    background-position: bottom 10% right 15%;
    background-repeat: no-repeat;
    background-size: 110px;
    content: '';
    .cart-item-container {
      padding-bottom: 100px;
    }
  }
}

.cart-item-detail {
  border-bottom: 2px $black solid;
  .adjust-quantity-btn {
    line-height: 1;
    height: 34px;
    width: 34px;
    font-size: 1.75rem;
    &:first-child {
      margin-right: 3px;
    }
    span {
      position: relative;
      top: -2px;
    }
    @include hover-supported() {
      font-style: normal;
      font-weight: bold;
    }
  }
  .item-remove-btn {
    color: $removeColor;
    font-size: 26px;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    span {
      transform: rotate(45deg);
    }
  }
}
.checkout-btn {
  width: 194px;
  height: 80px;
  font-weight: normal;
  border-radius: 100px;
}

.close-icon {
  margin-left: -10px;
  @include burger-icon(45px);
  @include close-icon(45px);
}
.overflow-hidden {
  overflow: hidden;
}
