.subscribe {
  width: 100%;
  input,
  .input-wrapper {
    width: 100%;
  }

  input {
    border: 2px solid $black;
    max-height: 40px;
  }
  button {
    background-color: $white;
    border-radius: 38px;
    padding: 24px 35px;
  }
}

.contact {
  label {
    color: $black;
  }
  input,
  textarea {
    border: 2px solid $black;
    padding: 5px;
    width: 100%;
  }
  button {
    border-radius: 80px;
    padding: 25px 40px;
  }
}
