.subscribe {
  input,
  .input-wrapper {
    width: 100%;
  }

  input {
    border: 2px solid $black;
  }
  button {
    background-color: $white;
    border-radius: 38px;
    padding: 24px 35px;
  }
}
