header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &.cart-open {
    overflow: auto;
    bottom: 0;
  }
}

nav {
  float: left;
  padding-top: 50px;
}

.cart {
  float: right;
  padding-top: 25px;
}

header ul {
  list-style: none;
  overflow: hidden;
}

header .menu {
  display: none;
  max-height: 0;
}

header .navicon {
  @include burger-icon;
}

// Expanded styles
.menu-btn:checked ~ header {
  background: $lightYellow;
  position: fixed;
  width: 100%;
  &:after {
    background-image: url('../images/wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .menu {
    display: block;
    max-height: 240px;
  }
  .navicon {
    @include close-icon;
  }
}
