.header-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

header ul {
  list-style: none;
  overflow: hidden;
}

header ul li a {
  font-size: 20px;
}

header .menu-icon {
  cursor: pointer;
  user-select: none;
}

header .menu-icon .navicon {
  height: 25px;
  position: relative;
  width: 50px;
}

header .menu-icon .navicon:after {
  top: 18px;
}

header .menu-icon .navicon:after,
header .menu-icon .navicon:before {
  content: '';
  position: absolute;
  background-color: $white;
  box-shadow: 2px 1px 0px 0px rgba(0, 0, 0, 1);
  border: 2px solid $black;
  border-radius: 4px;
  display: block;
  height: 6px;
  left: 0;
  transition: all 200ms ease-out;
  width: 100%;
}
header > section {
  transition: background 200ms ease-out;
  position: relative;
}

header section .menu {
  max-height: 0;
  transition: max-height 200ms ease-out;
}

.wave {
  height: auto;
  max-height: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  path {
    fill: transparent;
    transition: fill 200ms ease-out;
  }
}

header .menu-btn:checked ~ section .wave path {
  fill: $lightYellow;
}

header .menu-btn:checked ~ section {
  background: $lightYellow;
}

header .menu-btn:checked ~ section .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ section .menu-top .menu-icon .navicon:after,
header .menu-btn:checked ~ section .menu-top .menu-icon .navicon:before {
  box-shadow: none;
  width: 30px;
  top: 50%;
  transform-origin: top;
}
header .menu-btn:checked ~ section .menu-top .menu-icon .navicon:after {
  transform: rotate(45deg) translateY(-50%);
}

header .menu-btn:checked ~ section .menu-top .menu-icon .navicon:before {
  transform: rotate(-45deg) translateY(-50%);
}
