header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  &.cart-open {
    overflow: auto;
    bottom: 0;
  }
}

nav {
  float: left;
  padding-top: 50px;
}

.cart {
  float: right;
  padding-top: 25px;
}

header ul {
  list-style: none;
  overflow: hidden;
}

header .menu {
  display: none;
  max-height: 0;
}

header .navicon {
  cursor: pointer;
  height: 25px;
  position: relative;
  user-select: none;
  width: 50px;
  z-index: 3;
  &:before,
  &:after {
    background-color: $white;
    border-radius: 4px;
    border: 2px solid $black;
    box-shadow: 2px 1px 0px 0px rgba(0, 0, 0, 1);
    content: '';
    display: block;
    height: 6px;
    left: 0;
    position: absolute;
    transition: all 200ms ease-out;
    width: 100%;
  }
  &:after {
    top: 18px;
  }
}

// Expanded styles
.menu-btn:checked ~ header {
  background: $lightYellow;
  position: fixed;
  width: 100%;
  &:after {
    background-image: url('../images/wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .menu {
    display: block;
    max-height: 240px;
  }
  .navicon:after,
  .navicon:before {
    box-shadow: none;
    top: 50%;
    transform-origin: top;
    width: 30px;
  }
  .navicon:after {
    transform: rotate(45deg) translateY(-50%);
  }
  .navicon:before {
    transform: rotate(-45deg) translateY(-50%);
  }
}
