.logo {
  max-width: 200px;
  transition: max-width 200ms ease-in-out;
  @include media_min_break(md) {
    max-width: 280px;
  }
}

.hero-background {
  background-image: url('../images/hero/hero-background.svg');
  background-size: 2400px;
  background-repeat: no-repeat;
  background-position: -970px center;
  height: 600px;
  @include media_min_break(sm) {
    background-position: center center;
  }
  @include media_min_break(md) {
    background-size: 3008px;
    height: 835px;
  }
}

.home-hero p {
  color: $black;
  line-height: 3.1rem;
}

// Needed for the cart icon to not push the Logo
.clear-both {
  clear: both;
}

.eye {
  top: 50%;
  height: 150px;
  width: 150px;
  background: url('../images/eye-open.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 75% 0;
  overflow: hidden;
}

.shut {
  width: 170px;
  height: 110px;
  top: 28%;
  left: 52%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-13deg);
  z-index: 999;
  overflow: hidden;
}

.shut span {
  display: block;
  width: 100%;
  height: 15%;
  background: #f5acb9;
  border-radius: 0 0 60% 60%;
  transition: 0.4s all;
}

.eye:hover > .shut span {
  height: 100%;
}
