.logo {
  max-width: 200px;
  transition: max-width 200ms ease-in-out;
  @include media_min_break(md) {
    max-width: 280px;
  }
}

.hero-background {
  background-image: url('../images/hero/hero-background.svg');
  background-size: 2400px;
  background-repeat: no-repeat;
  background-position: -970px center;
  height: 600px;
  @include media_min_break(sm) {
    background-position: center center;
  }
  @include media_min_break(md) {
    background-size: 3008px;
    height: 800px;
  }
}
.success-hero-background {
  background-image: url('../images/hero/success-hero-background.svg');
  background-size: 2400px;
  background-repeat: no-repeat;
  background-position: -795px bottom;
  height: 600px;
  @include media_min_break(sm) {
    background-position: center bottom;
  }
  @include media_min_break(md) {
    background-size: 3008px;
    height: 735px;
  }
}

.home-hero {
  p {
    color: $black;
  }
  @include media_min_break(md) {
    margin-top: -30px !important;
  }
}

// Needed for the cart icon to not push the Logo
.clear-both {
  clear: both;
}
