.logo {
  max-width: 280px;
}

.hero-background {
  background-image: url('../images/hero/hero-background.svg');
  background-size: 3008px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 835px;
}

// Needed for the cart icon to not push the Logo
.clear-both {
  clear: both;
}
