@include media_max_break(lg) {
  .arrow {
    height: 75px;
    width: 75px;
  }
  .social-link {
    padding-top: 80px;
  }
  .social-links {
    padding-bottom: 200px;
  }
  .social-links > div {
    top: 0;
    right: 25%;
    display: flex;
    flex-direction: row-reverse;
  }
}
@include media_min_break(lg) {
  .social {
    padding-bottom: 300px;
    .social-header {
      padding: 0 225px 0 210px;
    }
    .arrow {
      height: 100px;
      width: 100px;
      margin-left: 260px;
    }
    .social-link {
      padding-left: 100px;
    }
  }
}
