.resellers .hero img {
  max-width: 714px;
}

.image-0,
.image-2,
.image-4,
.image-6 {
  left: 2%;
}

.image-1,
.image-3,
.image-5,
.image-7 {
  right: 2%;
}

.image-0 {
  top: 5%;
}

.image-1 {
  top: 15%;
}

.image-2 {
  top: 30%;
}

.image-3 {
  top: 45%;
}

.image-4 {
  top: 60%;
}

.image-5 {
  top: 75%;
}

.image-6 {
  top: 90%;
}

.image-7 {
  top: 100%;
}
