html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  scroll-behavior: smooth;
  font-size: 0.7rem;
  transition: font-size 200ms ease-in-out;

  @media (min-width: 993px) {
    font-size: 1rem;
  }
}

body {
  touch-action: manipulation;
  background-color: $lightYellow;
  color: $textColor;
}

// This should be set as the height of the <Header />
main section:first-child {
  padding-top: 90px;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

footer {
  @include media_max_break(sm) {
    background-image: url('../images/bird-footer.svg');
    background-repeat: no-repeat;
    background-size: 125px;
    background-position: top 5% right 5%;
  }
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}
