html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f1e8;
  color: $textColor;
}

// This should be set as the height of the <Header />
main section:first-child {
  padding-top: 90px;
}
