$black: #000000;
$white: #ffffff;

$textColor: #333333;
$valuePropsText: #2c5234;
$removeColor: #ff3b30;

// TBD on names
$lightGrass: #bde9c9;
$grass: #a1d884;
$lime: #addc91;
$pool: #6eceb2;
$lavender: #c6bcd0;
$yellow: #f1e6b2;
$lightYellow: #f5f1e8;
$berry: #d25b73;
$strawberry: #f2827f;
$pink: #f5acb9;

//product info colors

$basilBerry-info: #809e81;
$peppermintWatermelon-info: #ff9696;
$lavenderCucumber-info: #bbacd0;
$cactusRose-info: #f3e7ab;
$lemongrassCoconut-info: #b1ebc6;
$varietyPack-info: #ffdfcd;

//product bg colors

$basilBerry: #fdffd5;
$peppermintWatermelon: #fdb793;
$lavenderCucumber: #afacbd;
$cactusRose: #ffe8ac;
$lemongrassCoconut: #e5fbd8;
$varietyPack: #fee0c8;
