$black: #000000;
$white: #ffffff;

$textColor: #333333;
$valuePropsText: #2c5234;
$removeColor: #ff3b30;

// TBD on names
$lightGrass: #bde9c9;
$grass: #a1d884;
$lime: #addc91;
$pool: #6eceb2;
$lavender: #c6bcd0;
$yellow: #f1e6b2;
$lightYellow: #f5f1e8;
$berry: #d25b73;
$strawberry: #f2827f;
$pink: #f5acb9;

//product info colors

$basilBerry-info: #e6ebaf;
$peppermintWatermelon-info: #f2bcaa;
$lavenderCucumber-info: #b8b8cc;
$cactusRose-info: #fde4aa;
$lemongrassCoconut-info: #f4f0e9;
$varietyPack-info: #f7d4d1;

//product bg colors

$basilBerry: #f5f8c9;
$peppermintWatermelon: #dd938a;
$lavenderCucumber: #a6a3b6;
$cactusRose: #fae2a2;
$lemongrassCoconut: #dbf1cb;
$varietyPack: #fee0c8;

// Map
$darkYellow: #f6c168;
