$black: #000000;
$white: #ffffff;

$textColor: #333333;

// TBD on names
$lightGrass: #bde9c9;
$grass: #a1d884;
$lime: #addc91;
$pool: #6eceb2;
$lavender: #c6bcd0;
$yellow: #f1e6b2;
$lightYellow: #f5f1e8;
$berry: #d25b73;
$strawberry: #f2827f;
$pink: #f5acb9;

//product info colors

$basilBerry: #809e81;
$peppermintWatermelon: #ff9696;
$lavenderCucumber: #bbacd0;
$cactusRose: #f3e7ab;
$lemongrassCoconut: #b1ebc6;
$varietyPack: #ffdfcd;
