@mixin burger-icon($size) {
  cursor: pointer;
  height: $size;
  position: relative;
  user-select: none;
  width: 50px;
  z-index: 3;
  &:before,
  &:after {
    background-color: $white;
    border-radius: 4px;
    border: 2px solid $black;
    box-shadow: 2px 1px 0px 0px rgba(0, 0, 0, 1);
    content: '';
    display: block;
    height: 6px;
    left: 0;
    position: absolute;
    transition: all 200ms ease-out;
    width: 100%;
  }
  &:after {
    top: 13px;
  }
}

@mixin close-icon($size) {
  &:after,
  &:before {
    box-shadow: none;
    top: 50%;
    transform-origin: top;
    width: $size;
  }
  &:after {
    transform: rotate(45deg) translateY(-50%);
  }
  &:before {
    transform: rotate(-45deg) translateY(-50%);
  }
}

@mixin shared-animation-styles {
  transform: translate(-50%, -50%) rotate(-13deg);
  z-index: 5;
  overflow: hidden;
}

@mixin animation-overlap($color, $animation: eyeOne) {
  display: block;
  width: 100%;
  height: 100%;
  background: $color;
  border-radius: 0 0 60% 60%;
  transform-origin: top;
  animation: $animation 10s infinite alternate ease-in-out;
}

// Animation
@keyframes eyeOne {
  0%,
  50%,
  100% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0);
  }
}

@keyframes eyeTwo {
  0%,
  35%,
  100% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(0);
  }
  35% {
    transform: scaleY(1);
  }
  45% {
    transform: scaleY(0);
  }
}

@keyframes eyeThree {
  0%,
  100% {
    transform: scaleY(0);
  }
  90% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes eyeFour {
  0%,
  100% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
